.footerContainer{
    width: 100%;
    background-color: rgb(183, 183, 183);
}

.info{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.info span{
    width: 10em;
}

.footer{
    display: flex;
    text-align: center;
    justify-content: center;
    height: 12vh;
    color: white;
    background-color: black;
}