@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Krona+One&family=Staatliches&display=swap');

.container{
	display: flex;
	background-color:red;
	width: 100vw;
	height: 100vh;
}
.containerLogo {

	/* margin:180px auto; */
	padding-top: 40vh;
	padding-bottom: 40vh;
	background-color: rgba(0, 0, 0, .3);

	height: auto;
	width: 100vw;
	display: flex;
	flex-direction: column;
    

}

.containerLogo .name {
	margin: auto;
	
}

.containerLogo h1{
	font-family: 'Bebas Neue', cursive;

	color: #DDD;
	font-weight: 400;
	margin: auto;
	padding: 0;
	font-size: 65px;
	letter-spacing: 2px;

       


}
.containerLogo span{
	color: #82cd47;
}
.containerLogo h4{
	font-family: 'Staatliches', cursive;
	margin: auto;

	color: #DDD;
	font-weight: 100;
	letter-spacing: 43.6px;
	font-size: 18px;
	padding: 0;
	box-sizing: border-box;
       

}
